[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
django-markdownify = "*"
python-dotenv = "*"
weasyprint = "*"
django-weasyprint = "*"
crispy-tailwind = "*"
pillow = "*"
requests = "*"
whitenoise = "*"
django-summernote = "*"
google-generativeai = "*"
gunicorn = "*"
psycopg2-binary = "*"
dj-database-url = "*"
groq = "*"

[dev-packages]

[requires]
python_version = "3.12"
