<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log In{% endblock title %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm p-4">
                <h2 class="text-center mb-4">Log In</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary btn-lg mt-3">Log In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}